.leaflet-marker-icon {
    z-index: 600 !important;
}

#map{
    background: #dceff3;
}
.leaflet-control-attribution {
    background: none !important;
}

.attributionControl {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.attributionControl .attributionImg {
    width: 53px;
    height: 22px;
}

.attributionControl .attributionText {
    color: #000;
}

.road-divIcon {
    font-size: 14px;
    color: #fcc788;
    text-shadow: 1px 1px 2px #333;
    white-space: nowrap;
}

.mainPrj-name-divIcon {
    color: #ad7ae1;
    text-shadow: 1px 1px 2px #333;
    white-space: nowrap;
}


.leaflet-marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px !important;
}

.divIcon-UN {
    background: #fff;
}

.divIcon-SMALLRAIN {
    background: #32a6ff;
}

.divIcon-MIDDLERAIN {
    background: #3065ff;
}

.divIcon-BIGRAIN {
    background: #fff40a;
}

.divIcon-RAINSTORM {
    background: #f98e0c;
}

.divIcon-HEAVYRAIN {
    background: #dd2b29;
}
